.body {
    margin: 0;
}
.fixedPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}
.calendarDivAll {
    z-index: 0;
    background-color: var(--background2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 8.8rem;
    padding-bottom: 5rem;
}
.calendarDivChangeMonth {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.calendarDivMain {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    align-items: flex-start;
}
.calendarDivAllMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background1);
    border-radius: 10px;
    min-width: 49.733rem;
    min-height: 50rem;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
html.darkTheme .calendarDivAllMain {
    border: 1px solid var(--colorBorder);
}
.calendarDivDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.calendarDivMainDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-template-rows: repeat(var(--calendarWeeks, 6), 1fr);
}
.calendarDay {
    position: relative;
    font-family: 'Inter', sans-serif;
    max-width: 400px;
    font-size: 1.8rem;
    color: var(--textColor2);
    background-color: var(--background2);
    padding: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}
.calendarDay:hover {
    background-color: var(--hoverColor1);
}
.calendarDay.empty {
    background-color: transparent;
    cursor: default;
}
.calendarDivStatistic {
    display: grid;
    grid-template-rows: repeat(var(--calendarWeeks, 6), 1fr);
    grid-template-columns: 1fr;
    background-color: var(--background1);
    border-radius: 10px;
    padding: 1rem;
    gap: 11px;
    padding-top: 5.5rem;
    padding-bottom: 4rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
html.darkTheme .calendarDivStatistic {
    border: 1px solid var(--colorBorder);
}
.monthTitle {
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    font-size: 2.6rem;
    color: var(--textColor1);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.daysP {
    text-align: center;
    font-family: 'Inter', sans-serif;
    max-width: 400px;
    font-size: 1.8rem;
    color: var(--textColor2);
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
}
.monthBut {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}
.monthBut:hover {
    background: var(--hoverColor1);
}
.butLight {
    display: block;
    height: 3.0rem;
    object-fit: contain;
    padding: 0.5rem 0.5rem;
    transition: background 0.3s ease;
}
.butDark {
    display: none;
    height: 3.0rem;
    object-fit: contain;
    padding: 0.5rem 0.5rem;
    transition: background 0.3s ease;
}
html.darkTheme .butLight {
  display: none;
}
html.darkTheme .butDark {
  display: block;
}
.calendarDayStatsDiv {
    display: none;
    position: absolute;
    background: var(--background1);
    border-radius: 10px;
    padding: 1rem;
    z-index: 10;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    min-width: 23rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.calendarDayStatsDiv.show {
    display: flex;
}
html.darkTheme .calendarDayStatsDiv {
    border: 1px solid var(--colorBorder);
}
.statsP {
    font-family: 'Inter', sans-serif;
    max-width: 400px;
    font-size: 1.8rem;
    color: var(--textColor2);
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
}
.weekStatBut {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    max-width: 400px;
    font-size: 1.8rem;
    color: var(--textColor2);
    background-color: var(--background2);
    padding: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.weekStatBut:hover {
    background-color: var(--hoverColor1);
}
.emptyWeek {
    background-color: transparent;
    cursor: default;
    padding: 2rem;
}